.c-defintion {
    background-color: rgba( 255, 255, 255, .8 );
    padding: 10px;
    color: #3C2A10;
    &__dt {
        font-weight: bold;
        font-size: 2rem;
        margin-bottom: 5px;
        padding: 2px 0;
    }
    &__dd {
        font-size: 1.2rem;
    }
}