.p-cards {
    padding: 10px 70px;
    display: block;
    @include breakpoint( sp ) {
        flex-direction: column;
        width: 100%;
        padding: 30px;
    }
    &__list {
        margin-bottom: 20px;
    }
}

.p-card {
    padding: 0;
    display: flex;
    @include breakpoint( sp ) {
        flex-direction: column;
        width: 100%;
        padding: 30px;
    }
    &__thumbnail {
        width: 50%;
        background-color: tan;
        object-fit: cover;
        @include breakpoint( sp ) {
            flex-direction: column;
            width: 100%;
            margin-bottom: 30px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    &__caption {
        padding: 30px;
        width: 50%;
        background-color: #3C2B1C;
        h4 {
            color: #FFF;
            font-size: 2rem;
        }
        h5 {
            color: #FFF;
            font-size: 1.4rem;
            margin: 30px 0 10px;
        }
        p {
            color: #FFF;
            font-size: 1.1rem;
        }
        a {
            background: #FFF;
            color: #3C2B1C;
            display: block;
            width: 200px;
            padding: 20px 60px;
            margin-top: 40px;
            margin-left: auto;
            margin-right: auto;
            text-decoration: none;
            border-radius: 45px;
            text-align: center;
        }
    }
    &__title {
        color: #FFF;
        font-size: 4rem;
        position: relative;
        &::after {
            content: "";
            display: block;
            border-bottom: solid #FFF 2px;
            width: 40px;
            position: absolute;
            top: 80px;
        }
    }
    &__ul {
        &__li {
            margin-bottom: 15px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}