.p-information {
    display:flex;
    justify-content: center;
    &__list {
        display: flex;
        font-size: 1.2rem;
        &::after {
            content: "　|　";
            display: block;
            font-size: 1rem;
        }
        &:last-child {
            &::after {
                content: "";
            }
        }
    }
}