.l-footer {
    background-image: url(/img/footerimage.png);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #FFF;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    padding-top: 30px;
    @include breakpoint( tablet ) {
        width: 100%;
        height: 150px;
        padding-bottom: 10px;
    }
    }