.l-footer {
    background-image: url(/img/footerimage.png);
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    }
.l-footer ul li{
    }   
.p-copyright small{
    font-size: 8px;
    }