.g-menu {
    background-color: #F2EDE9;
    display:flex;
}
.g-menu h2{
    color: #707070;
    font-weight: bold;
}

.p-gmenu {
    padding-top: 82px;
    padding-left: 46px;
    color: #707070;
    font-weight: normal;
}
